
/* FORMATAÇÃO DE FORMULÁRIO*/

.formulario {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    color: white;
    font-weight: bold;
    font-style: italic;
    background-color: rgb( 50, 100, 191);
    /*text-shadow: 1px 3px 3px white;*/
    text-align: left
	padding-top: 0px;
 	padding-bottom: 0px;
 	padding-right: 100px;
 	padding-left: 100px; 
    display: float

width: 50px; /* define largura da caixa (DIV interface) */
position: relative;
margin: -20px auto 0px 5px; /* define margens fora da interface (de cima em direção horária)*/
box-shadow: 5px 10px 30px black; /* desloca lateral > vertical > espalhamento da sombra */
padding: 10px 10px 10px 10px; /*define margens dentro da interface (igual precisa apenas o primeiro)*/




}
    

   



         

    




            
     


